#dependencies
*node_modules
/client/.pnp
/client/.pnp.js

# testing
/client/coverage

#keys
/server/keys

# debugging
/server/logs

#logo-blend file
/logo_development

#containers
/server/container/resources

# misc
/client/.DS_Store
*.pem

#.env
*.env
*.env.local
*.env.development
*.env.development.local
*.env.test
*.env.test.local
*.env.production
*.env.production.local

# vercel
.vercel

#next.js
/client/.next/
/client/out/

#production
/client/build

.prettierrc

npm-debug.log*
yarn-debug.log*
yarn-error.log*
