# dependencies
/api/node_modules

#keys
/api/keys

# debugging
/api/logs

#logo-blend file
/logo_development

# misc
/api/.env
.prettierrc

npm-debug.log*
yarn-debug.log*
yarn-error.log*