# dependencies
/backend/node_modules

#keys
/backend/keys

# debugging
/backend/logs

#logo-blend file
/logo_development

#containers
/backend/container/resources

# misc
/backend/.env
.prettierrc

npm-debug.log*
yarn-debug.log*
yarn-error.log*