//-----Optional-----

RESOURCE_PATH = 
PROTOCOL =
API_HOST =
API_PORT =
LOG_FILE =
LOG_MAXSIZE =
LOG_MAXFILE =
RATE_LIMIT_WINDOWMS = 
RATE_LIMIT_MAX =
COMPRESSION_LEVEL =
COMPRESSION_MEMLEVEL =
COMPRESSION_CHUNKSIZE =
COMPRESSION_WINDOWBITS =
COMPRESSION_THRESHOLD_LIMIT =
SENDER_EMAIL_SERVICE =

//-----Required------

SENDER_EMAIL_ADDRESS =
SENDER_EMAIL_PASSWORD =
DB_CONNECT =